div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: 29%;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 18px;	
}

div.scrollmenu a {
    color: white;
    text-align: center;
    margin: 150px;
    text-decoration: none;
    font-size: 30px
}

div.scrollmenu a:hover {
    background-color: #777;
    box-shadow: 5px 5px 10px black;
}

.vertical-menu {
    width: 160px;
    float: right;
    border-style: solid;
	margin-top: 5px;
}

.vertical-menu a {
    background-color: rgb(48,48,48,0.1);
    color: black; 
    display: block;
    padding: 6px; 
	text-decoration:none; 
    font-size: 15px;
}

.vertical-menu a:hover {
    background-color: darkgray;
}

html {
	background-color: lightgray;
	font-family: monospace;
	width: 100%;
}

h1 {
	font-size: 40px;
	font-family: monospace;
}

h4 {
	font-size: 18px;
	font-family: monospace;
}

h3 {
    font-size: 25px;
    font-family: monospace;
}

.voorbeeld {
	width: 50%;
}

.text{
	margin-left: 5px;
	font-size: 18px;
	font-weight: bold;
}

.maintitle{
	margin-left: 5px;
}

footer {
    display: inline-block;
    color: white;
    width: 100%;
    height: 7%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    font-family: monospace;
}

.footerA {
    float: left;
	margin-left: 10px;
}
.footerB {
    float: right;
	margin-right: 10px;
}

body {
	background-color: lightgray;
}